body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #37b579;
    color: white;
    text-align: center;
    padding: 20px;
}

h1 {
    margin: 0;
}

p {
    margin: 5px 0;
}

section {
    background-color: white;
    padding: 20px;
	margin-top: 20px;
	margin-bottom: 20px;
    margin-left: 5px;
	margin-right: 5px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section#contact {
    margin-bottom: 60px; /* Add margin-bottom to create space between the section and footer */
}

h2 {
    color: #37b579;
}

.project {
    margin-bottom: 20px;
}

footer {
    background-color: #37b579;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}
